doctype html
html
  head
    meta(charset= 'utf-8')
    link(rel= "stylesheet", type= "text/css", href= "css/main.css")
    link(href= 'http://fonts.googleapis.com/css?family=Quattrocento+Sans:700', rel= 'stylesheet', type= 'text/css')
    link(href= 'http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel= 'stylesheet' type= 'text/css' )
  body
    .top-line
      .container
        img.logotype(src= '../img/modest.png')
        .menu
          a.menu__element(href= "#") CONTACT
          a.menu__element(href= "#") FEATURES
          a.menu__element(href= "#") WORK
          a.menu__element(href= "#") SERVICES
          a.menu__element(href= "#") TEAM
          a.menu__element(href= "#") ABOUT
          a.menu__element.menu__element_active(href= "#") HOME
    .wrapper
      .header
        .container
          .header__element.
            WELCOME TO OUR MARKETPLACE
          .header__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor
            non, ornare sagittis dolor. Nulla vestibulu lacus ...


          button.button.button_active(href= "#") VIEW MORE
          button.button(href= "#") VIDEO TOUR

  div.
    we are modest.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum  quismagna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, quis lacusullamcorper at. Phasellus sollicitudin ante eros ornare, sit amet luctus lorem semper. Suspendisse posuere, quamdictum consectetur, augue metus pharetra tellus, eu feugiatloreg egetnisi. Cras ornare bibendum ante, ut bibendum odio convallis eget. vel sodales arcu vestibulum
    01 Dedication to the customers Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae ullamcorper risus. Nam porttitor blandit ultricies.
    02 working closely with our clients Sed blandit nisi urna, sed pellentesque enim consectetur vitae. Suspendisse ut vehicula nibh.
    03 increase happiness Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend laoreet euismod.
    F L g D e
    meet the team.
    Gloria Bromley CEO and Founder
    Paul Torres Head of Development
    L F I Paul Torres Head of Development
    Judith Gillette Graphic Desinger
    Delores Reed Client Service Director
    lovely work. partnership guidlines show me more
    what we do.  Easy theme Setup Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
    pixel perfect design Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
    responsive display Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
    24/7 support Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
    Easy theme Setup Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
    pixel perfect design Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
    responsive display Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
    24/7 support Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
    FEATURES.
    Product Design: Eames Chairs Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.
    Elegant and Colorful Logos I’ve always found logo design to be one of the most challenging things to get right. There’s so much that a logo can say about a brand without actually saying it.
    A Showcase of Creative It’s always interesting to see another designer’s take on a famous website, app or even physical product. Different designers add their own personality and style.
    stay in touch.  Your Name  Your email Your message send message contact information
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique nec dolor non, ornare sagittis dolor. Nulla vestibulum lacus sed molestie gravida. Cras fermentum elit quis magna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, quis dapibus lacus
    © Copyright 2014 by PSD Booster. All Rights Reserved.
