doctype html
html
  head
    meta(charset= 'utf-8')
    link(rel= "stylesheet", type= "text/css", href= "css/main.css")
    link(href= 'http://fonts.googleapis.com/css?family=Quattrocento+Sans:700', rel= 'stylesheet', type= 'text/css')
    link(href= 'http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel= 'stylesheet' type= 'text/css' )
    script(src= 'https://maps.googleapis.com/maps/api/js?v=3.exp')
    script.
      var map;
      function initialize() {
        map = new google.maps.Map(document.getElementById('map-canvas'), {
          zoom: 10,
          center: {lat: 72.570130, lng: -22.985267}
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  body
    .top-line
      .container
        img.logotype(src= '../img/modest.png')
        .menu
          a.menu__element(href= "#") CANTACT
          a.menu__element(href= "#") WORK
          a.menu__element(href= "#") SERVIC
          a.menu__element(href= "#") TEAM
          a.menu__element(href= "#") ABOUT
          a.menu__element.menu__element_active(href= "#") HOME                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        .wrapper
      .header
        .container
          .header__element.
            WELCOME TO OUR MARKETPLACE
          .header__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor
            non, ornare sagittis dolor. Nulla vestibulu lacus ...
          button.button_active(href= "#") VIEW MORE
          button.button(href= "#") VIDEO TOUR
    .container
      h1.main-heading we are modest.
      .row
        .col-6
          p.text-default Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus sed molestie gravida. Crferm entum quismagna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, quis lacusullamcorper at.
          p.text-default Phasellus sollicitudin ante eros ornare, sit amet luctus lorem semper. Suspendisse posuere, quamdictum consectetur, augue metus pharetra tellus, eu feugiatloreg egetnisi. Cras ornare bibendum ante, ut bibendum odio convallis eget. vel sodales arcu vestibulum
          .social-buttons-group
            button.button-facebook.social-buttons
              img(src= '../img/icon-facebook.png')
            button.button-twitter.social-buttons
              img(src= '../img/icon-twitter.png')
            button.button-google.social-buttons
              img(src= '../img/icon-google.png')
            button.button-dribbble.social-buttons
              img(src= '../img/icon-dribbble.png')
            button.button-behance.social-buttons
              img(src= '../img/icon-behance.png')
        .col-6
          .number-list
            .number-list__item.number-list-item
              .number-list-item__number 01
              .number-list-item__heading Dedication to the customers
              .number-list-item__text Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae ullamcorper risus. Nam porttitor blandit ultricies.
            .number-list__item
              .number-list-item__number 02
              .number-list-item__heading working closely with our clients
              .number-list-item__text Sed blandit nisi urna, sed pellentesque enim consectetur vitae. Suspendisse ut vehicula nibh.
            .number-list__item
              .number-list-item__number 03
              .number-list-item__heading increase happiness
              .number-list-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend laoreet euismod.
      .container
      h1.main-heading MEET THE TEAM.
      .staff-gallery.row
        .col-3
          .staff-gallery__element.staff-photo
            img.staff-photo__img(src= '../img/foto1.png')
            .social-buttons-block
              a.social-buttons-block__element.social-buttons-block__twitter(href= '#')
                img.button-twitter(src= '../img/tw.png')
              a.social-buttons-block__element.social-buttons-block__facebook(href= '#')
                img.button-facebook(src= '../img/f.png')
              a.social-buttons-block__element.social-buttons-block__linkedin(href= '#')
                img.button-linkedin(src= '../img/i.png')
            .name-and-post
              p.name-and-post__name gloria bromley
              p.name-and-post__post CEO and Founder
        .col-3
          .staff-gallery__element.staff-photo
            img.staff-photo__img(src= '../img/foto2.png')
            .social-buttons-block
              a.social-buttons-block__element.social-buttons-block__twitter(href= '#')
                img.button-twitter(src= '../img/tw.png')
              a.social-buttons-block__element.social-buttons-block__facebook(href= '#')
                img.button-facebook(src= '../img/f.png')
              a.social-buttons-block__element.social-buttons-block__linkedin(href= '#')
                img.button-linkedin(src= '../img/i.png')
            .name-and-post
              p.name-and-post__name paul torres
              p.name-and-post__post Head of Development
        .col-3
          .staff-gallery__element.staff-photo
            img.staff-photo__img(src= '../img/foto3.png')
            .social-buttons-block
              a.social-buttons-block__element.social-buttons-block__twitter(href= '#')
                img.button-twitter(src= '../img/tw.png')
              a.social-buttons-block__element.social-buttons-block__facebook(href= '#')
                img.button-facebook(src= '../img/f.png')
              a.social-buttons-block__element.social-buttons-block__linkedin(href= '#')
                img.button-linkedin(src= '../img/i.png')
            .name-and-post
              p.name-and-post__name judith gillette
              p.name-and-post__post Graphic Desinger
        .col-3
          .staff-gallery__element.staff-photo
            img.staff-photo__img(src= '../img/foto4.png')
            .social-buttons-block
              a.social-buttons-block__element.social-buttons-block__twitter(href= '#')
                img.button-twitter(src= '../img/tw.png')
              a.social-buttons-block__element.social-buttons-block__facebook(href= '#')
                img.button-facebook(src= '../img/f.png')
              a.social-buttons-block__element.social-buttons-block__linkedin(href= '#')
                img.button-linkedin(src= '../img/i.png')
            .name-and-post
              p.name-and-post__name deloris reed
              p.name-and-post__post Client Service Director
    .wrapper
      .container
        h1.main-heading.main-heading_inverse lowely work
        .photos-block
          .photo-block__element.portfolio-img
            img.portfolio-img__photo(src= '../img/photo-1.png')
            .portfolio-img__title PARTNERSHIP GUIDLINES
          .photo-block__element.portfolio-img
            img.portfolio-img__photo(src= '../img/photo-2.png')
            .portfolio-img__title PARTNERSHIP GUIDLINES
          .photo-block__element.portfolio-img
            img.portfolio-img__photo(src= '../img/photo-3.png')
            .portfolio-img__title PARTNERSHIP GUIDLINES
          .photo-block__element.portfolio-img
            img.portfolio-img__photo(src= '../img/photo-4.png')
            .portfolio-img__title PARTNERSHIP GUIDLINES
          .photo-block__element.portfolio-img
            img.portfolio-img__photo(src= '../img/photo-5.png')
            .portfolio-img__title PARTNERSHIP GUIDLINES
          .photo-block__element.portfolio-img
            img.portfolio-img__photo(src= '../img/photo-6.png')
            .portfolio-img__title PARTNERSHIP GUIDLINES
        button.button-show SHOW ME MORE
    .container
      h1.main-heading WHAT WE DO.
      .services-block
        .services-block__element.services-block-element
          //- TODO
          img.icon1(src= '../img/cogs.png')
          //- TODO
          p.paragraf2 Easy theme Setup
          //- TODO
          p.paragraf3 Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
        .services-block__element
          img.icon1(src= '../img/pencil.png')
          p.paragraf2 Pixel perfect design
          p.paragraf3 Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
        .services-block__element
          img.icon1(src= '../img/mobile.png')
          p.paragraf2 responsive display
          p.paragraf3 Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
        .services-block__element
          img.icon1(src= '../img/clock.png')
          p.paragraf2 24/7 support
          p.paragraf3 Nunc mattis lorem in leo lobortis, ut venenatis justo commodo. Maecenas a justo nec velit egestas fermentum.
    .wrapper
      .container
        h1.main_heading1 FEATURES
        .pic-block
          //- TODO
          img.pic1(src= '../img/pic1.png')
          //- TODO
          p.paragraf Product Design: Eames Chairs
          //- TODO
          p.paragraf1 Eames designs are certainly iconic. Everyone of us know at least two or three of their famous chairs. I would even risk saying that most of us dream about having a nice Eames.
        .pic-block
          img.pic2(src= '../img/pic2.png')
          p.paragraf Elegant and Colorful Logos
          p.paragraf1 I’ve always found logo design to be one of the most challenging things to get right. There’s so much that a logo can say about a brand without actually saying it.
        .pic-block
          img.pic3(src= '../img/pic3.png')
          p.paragraf A Showcase of Creative
          p.paragraf1 It’s always interesting to see another designer’s take on a famous website, app or even physical product. Different designers add their own personality and style.
      .container1
        img.border1(src= '../img/border-left.png')
        h1.main_heading2 STAY IN TOUCH
        .map-wrapper
          #map-canvas
    .container
      h1.main-heading CONTACT INFORMATION
      p.paragraf2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique nec dolor non, ornare sagittis dolor. Nulla vestibulum lacus sed molestie gravida. Cras fermentum elit quis magna congue, vel sodales arcu vestibulum. Nunc lobortis dui magna, quis dapibus lacus
        .contact-form
          .row
            .col-6
              .contact-form__input
                //- TODO
                p.txt1 your name
                //- TODO
                input.name(type='text')
            .col-6
              .contact-form__input
                p.txt2 yor email
                input.email(type='text')
          .row
            .col-2
              .contact-form__textarea
                //- TODO
                p.txt3 your message
                textarea.message
              button.send-message
                   p.txt4 SEND MESSAGE
