doctype html
html
  head
    meta(charset= 'utf-8')
    link(rel= "stylesheet", type= "text/css", href= "css/main.css")
    link(href= 'http://fonts.googleapis.com/css?family=Quattrocento+Sans:700', rel= 'stylesheet', type= 'text/css')
    link(href= 'http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel= 'stylesheet' type= 'text/css' )
  body
    .top-line
      .container
        img.logotype(src= '../img/modest.png')
        .menu
          a.menu__element(href= "#") CONTACT
          a.menu__element(href= "#") FEATURES
          a.menu__element(href= "#") WORK
          a.menu__element(href= "#") SERVICES
          a.menu__element(href= "#") TEAM
          a.menu__element(href= "#") ABOUT
          a.menu__element.menu__element_active(href= "#") HOME

    .wrapper
      .header
        .container
          .header__element.
            WELCOME TO OUR MARKETPLACE
          .header__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor
            non, ornare sagittis dolor. Nulla vestibulu lacus ...


          button.button.button_active(href= "#") VIEW MORE
          button.button(href= "#") VIDEO TOUR

    .container
      img.border(src= '../img/border_left.png')
      h1.main_heading we are modest.

      .grid-1
      .grid-2
        .number-list
          .number-list__number 01
          .number-list__heading Dedication to the customers
          .number-list__text Integer vel lacus non dui ullamcorper venenatis. Aliquam vitae tristique nisi, vitae ullamcorper risus. Nam porttitor blandit ultricies.
        .number-list
          .number-list__number 02
          .number-list__heading working closely with our clients
          .number-list__text Sed blandit nisi urna, sed pellentesque enim consectetur vitae. Suspendisse ut vehicula nibh.
        .number-list
          .number-list__number 03
          .number-list__heading increase happiness
          .number-list__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend laoreet euismod.
