.menu {
	padding: 20px;
	background: black;
}

.menu__element {
	float: right;
	color: white;
	padding: 0 10px; 
}
.body {
	padding: 50px;
	background: blue;
}
.body__element {
	float: center;
	font-size: 36px;
	color: white;
	
}
.button {
	display: inline-block;
	padding: 5px 7px;
	background: #23b7a4;
	color: white;
}

.wrapper {
	width: 100%;
}
.world {
	display: inline-block;
	color: white;
	padding: 5px 7px;
