.main-heading
  overflow hidden
  display block
  font-family 'Quattrocento Sans', sans-serif
  text-transform uppercase
  color: #292f36
  font-size: 36px
  font-weight: 700
  text-align: left
  &:before
    content ''
    display block
    float left
    margin 0 14px 0 0
    background #e1e6ea
    width 10px
    height 35px
