.social-buttons-group
  overflow hidden

.social-buttons
  margin 54px 1px 0 0
  width 60px
  height 60px
  float left
  background #c8cdd0
  cursor pointer
  border none
  display block
  &:hover
    background-color #d0d5d9

.modest
  padding 0 0 100px 0
