.header
  padding: 50px
  background: url("../../img/pic.png") 50% 0
  padding 225px 0 252px 0

.header__element
  float: center
  font-size: 36px
  font-family: 'Quattrocento Sans', sans-serif
  color: white

.header__text
  font-size: 16px
  font-family 'Open Sans', 'sans-serif'
  color: white
  width: 648px
  margin-bottom 43px
