.portfolio-img
  position relative
  &:hover
    .portfolio-img__title
      display block

.portfolio-img__photo
  &:hover
    opacity 0.6
    .portfolio-img__title
      display block

.portfolio-img__title
  width 360px
  height 60px
  text-align center
  display none
  position absolute
  left 0
  bottom 0
  background #292f36
  padding 20px 0 0 0
  box-sizing border-box
  color white
