.number-list-item
  overflow hidden
  display block
  margin 35px 0 0 0
  &:first-child
    margin 0

.number-list-item__number
  background: #23b7a4
  text-align: right
  color: #ffffff
  font-size: 20px
  padding 16px 17px
  float left
  margin 0
  width 50px
  height 50px
  box-sizing border-box

.number-list-item__heading-and-text
  padding 0 0 0 20px
  box-sizing border-box
  width calc(100% - 50px)
  float left

.number-list-item__heading
  margin 0 0 9px 0
  font-family 'Quattrocento Sans', sans-serif
  color #292f36
  font-size 18px
  font-weight 700
  line-height 1
  text-align left
  text-transform uppercase

.number-list-item__text
  margin 0 20px 0 0
  font-family OpenSans
  color #8d8f92
  font-size 16px
  font-weight 400
  line-height 26px
  text-align left
