.button-show
  color #fff
  font-size 14px
  font-weight 700
  background transparent
  padding 14px 20px
  border-radius 5px
  margin 63px auto 79px
  display block
  font-family 'Quattrocento Sans', sans-serif
  text-align left
