import '../blocks/menu/menu'

*
  margin 0
  padding 0

.top-line
  background: black
  overflow hidden

.logotype
  display block
  float left
  margin 30px 0

.button
  display: inline-block
  padding: 5px 7px
  background: #23b7a4
  color: white
  background transparent
  border none
  cursor pointer

.button_active
  background: #23b7a4

.wrapper
  width: 100%

.main-heading
  overflow hidden
  display block
  font-family 'Quattrocento Sans', sans-serif
  text-transform uppercase
  color: #292f36
  font-size: 36px
  font-weight: 700
  text-align: left
  &:before
    content ''
    display block
    float left
    margin 0 14px 0 0
    background #e1e6ea
    width 10px
    height 35px

.main-heading_inverse
  color #fff
  &:before
    background #4e5a62

.number-posetion-2
  margin 95px 803px 0 0

.number-posetion-3
  margin 98px 803px 0 0

.text-default
  font-family 'Open Sans', 'sans-serif'
  color #8d8f92
  margin 10px 0

.border1
  float left
  padding 86px 17px 60px 0

.pic-block
  width 33%
  float left
  background #3a454d

.paragraf
  color white
  text-transform uppercase

.paragraf1
  color white
  margin 30px 0 120px 0

.wrapper
  background #3a454d
  padding 79px 0 0 0


.name-and-post
  margin -4px 0 0 0
  background #e1e6ea
  width 263px
  height 74px

.name-and-post__name
  color #292f36
  text-transform uppercase
  padding 21px 0 0 20px

.name-and-post__post
  color #8d8f92
  padding 9px 0 0 19px

.photo-block__element
  float left
  width 33%




.services-block__element
  width 25%
  float left
  position relative

.paragraf2
  color #292f36
  text-align center

.paragraf3
  color #8d8f92
  text-align center

.map-wrapper
  height 346px
  overflow hidden

html, body, #map-canvas
  height 100%
  margin 0px
  padding 0px
  width 100%

.contact-form
  background white
  width 555px
  padding 0 30px
  overflow hidden
  position relative
  top -100px
  margin 0 411px 0 0

.email
  background #eaeef1
  width 100%
  margin 7px 0 10px 0
  line-height 44px

.message
  height 159px
  background #eaeef1
  width 100%

.txt1
  color #8d8f92
  text-align left

.txt2
  color #8d8f92
  text-align left

.txt3
  color #8d8f92
  text-align left

// Form grid
.row
  margin 0 8px
  overflow hidden

col()
  box-sizing border-box
  padding 8px
  min-height 1px
  float left
  position relative

.col-1
  width (100% / 12) * 1
  col()

.col-2
  width (100% / 12) * 2
  col()

.col-3
  width (100% / 12) * 3
  col()

.col-4
  width (100% / 12) * 4
  col()

.col-5
  width (100% / 12) * 5
  col()

.col-6
  width (100% / 12) * 6
  col()

.col-7
  width (100% / 12) * 7
  col()

.col-8
  width (100% / 12) * 8
  col()

.col-9
  width (100% / 12) * 9
  col()

.col-10
  width (100% / 12) * 10
  col()

.col-11
  width (100% / 12) * 11
  col()

.col-12
  width (100% / 12) * 12
  col()


.txt4
  color white
