@import '../blocks/button/button'
@import '../blocks/button-show/button-show'
@import '../blocks/contact-form/contact-form'
@import '../blocks/container/container'
@import '../blocks/deleted/deleted'
@import '../blocks/deleted/deleted'
@import '../blocks/grid/grid'
@import '../blocks/header/header'
@import '../blocks/logotype/logotype'
@import '../blocks/main-heading/main-heading'
@import '../blocks/menu/menu'
@import '../blocks/number-list/number-list'
@import '../blocks/portfolio-img/portfolio-img'
@import '../blocks/reset/reset'
@import '../blocks/send-message/send-message'
@import '../blocks/social-buttons-block/social-buttons-block'
@import '../blocks/social-buttons-group/social-buttons-group'
@import '../blocks/staff-photo/staff-photo'
@import '../blocks/top-line/top-line'
@import '../blocks/text-default/text-default'
@import '../blocks/txt-5/txt-5'
@import '../blocks/LFHEI/LFHEI'
