.number-list-item
  overflow hidden

.number-list-item__number
  background: #23b7a4
  text-align: right
  color: #ffffff
  font-size: 20px
  padding 16px 17px
  float left
  margin 0 20px 0 0

.number-list-item__heading
  margin 35px 0 0 0

.number-list-item__text
  margin 0 20px 0 0
  font-family
  font-family 'Open Sans'
