.staff-gallery
  border-top 3px solid #dde1e4
  padding 0 0 100px 0

.staff-photo
  position relative
  &:hover
    .social-buttons-block
      display block
    .name-and-post
      background #3a454d
    .name-and-post__name
      color #fff
    .name-and-post__post
      color #fff

.staff-photo__img
  width 263px
  height 300px
  &:hover
    opacity 0.6
