x.top-line
  background: black
  overflow hidden

.wrapper
  width: 100%

.number-posetion-2
  margin 95px 803px 0 0

.number-posetion-3
  margin 98px 803px 0 0

.border1
  float left
  padding 86px 17px 60px 0

.pic-block
  width 33%
  float left
  background #3a454d

.paragraf
  color white
  text-transform uppercase

.paragraf1
  color white
  margin 30px 0 120px 0

.wrapper
  background #3a454d
  padding 0 0 0 0


.na
  me-and-post
  margin -4px 0 0 0
  background #e1e6ea
  width 263px
  height 74px

.name-and-post__name
  color #292f36
  text-transform uppercase
  padding 21px 0 0 20px

.name-and-post__post
  color #8d8f92
  padding 9px 0 0 19px

.photos-block
  overflow hidden

.photos-block__element
  float left
  width 33%

.services-block
  margin 0 0 0 0

.services-block__element
  width 25%
  float left
  margin 0 0 94px 0

.paragraf2
  color #292f36
  float center
  text-align center
  font-family 'Quattrocento Sans', 'sans-serif'
  font-size 17px
  font-weight 700
  margin 35px 0 28px 0
  text-transform uppercase

.paragraf3
  color #8d8f92
  text-align center
  font-size 16px
  font-weight 400
  line-height 26px
  font-family 'Open Sans', 'sans-serif'
  margin 0 37px 0 0

.icon1
  text-align center
  display block
  margin 0 auto

.map-wrapper
  height 346px
  overflow hidden

html, body, #map-canvas
  height 100%
  margin 0px
  padding 0px
  width 100%

.row
  margin 0 8px
  overflow hidden




