x.top-line
  background: black
  overflow hidden

.wrapper
  width: 100%

.number-posetion-2
  margin 95px 803px 0 0

.number-posetion-3
  margin 98px 803px 0 0



.border1
  float left
  padding 86px 17px 60px 0

.pic-block
  width 33%
  float left
  background #3a454d

.paragraf
  color white
  text-transform uppercase

.paragraf1
  color white
  margin 30px 0 120px 0

.wrapper
  background #3a454d
  padding 79px 0 0 0


.name-and-post
  margin -4px 0 0 0
  background #e1e6ea
  width 263px
  height 74px

.name-and-post__name
  color #292f36
  text-transform uppercase
  padding 21px 0 0 20px

.name-and-post__post
  color #8d8f92
  padding 9px 0 0 19px

.photo-block__element
  float left
  width 33%

.services-block__element
  width 25%
  float left
  position relative

.paragraf2
  color #292f36
  text-align center

.paragraf3
  color #8d8f92
  text-align center

.map-wrapper
  height 346px
  overflow hidden

html, body, #map-canvas
  height 100%
  margin 0px
  padding 0px
  width 100%

.contact-form
  background white
  width 555px
  padding 0 30px
  overflow hidden
  position relative
  top -100px
  margin 0 411px 0 0

.email
  background #eaeef1
  width 100%
  margin 7px 0 10px 0
  line-height 44px

.message
  height 159px
  background #eaeef1
  width 100%

.txt1
  color #8d8f92
  text-align left

.txt2
  color #8d8f92
  text-align left

.txt3
  color #8d8f92
  text-align left

.row
  margin 0 8px
  overflow hidden

.txt4
  color white
