.button
  display: inline-block
  padding: 15px 30px 15px 22px
  background: #23b7a4
  color: white
  background transparent
  border 2px solid #fff
  cursor pointer
  border-radius 3px

.button_active
  background: #23b7a4
  margin 0 13px 0 0
  border 2px solid #23b7a4
