.menu
  padding: 33px 0 0 0


.menu__element
  float: right
  color: white
  padding: 0 20px 0 20px
  text-decoration none
  text-transform uppercase
  font-family 'Open Sans', 'sans-serif'
  font-size 14px
  &:first-child
    padding 0 0 0 20px
  &:last-child
    padding 0 20px 0 0


.menu__element_active
  color: #23b7a4
