.menu
  padding: 33px 0 0 0


.menu__element
  float: right
  color: white
  padding: 0 20px 0 20px
  text-decoration none
  text-transform uppercase
  font-family 'Open Sans', 'sans-serif'
  font-size 14px
  border-radius 2px
  border 2px solid transparent
  &:hover
    border 2px solid #5b6168


.menu__element_active
  color #23b7a4
  border 2px solid  #23b7a4
  border-radius 2px
  &:hover
    border 2px solid #23b7a4
